@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 18%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 18%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 18%;

    --primary: 215 43% 39%;
    --primary-foreground: 36 33% 96%;

    --secondary: 0 0% 82%;
    --secondary-foreground: 215 43% 39%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 82%;
    --accent-foreground: 215 43% 39%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 215 43% 39%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 18%;
    --foreground: 36 33% 96%;

    --card: 0 0% 18%;
    --card-foreground: 36 33% 96%;

    --popover: 0 0% 18%;
    --popover-foreground: 36 33% 96%;

    --primary: 215 43% 39%;
    --primary-foreground: 36 33% 96%;

    --secondary: 0 0% 82%;
    --secondary-foreground: 215 43% 39%;

    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 82%;
    --accent-foreground: 215 43% 39%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 36 33% 96%;

    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 0 0% 82%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .btn-primary {
    @apply bg-brand-blue text-brand-offwhite hover:bg-brand-blue/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-blue;
  }
  
  .btn-accent {
    @apply bg-brand-yellow text-brand-blue hover:bg-brand-yellow-light focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-blue;
  }
}

.animate-fadeIn {
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
}

.animate-fadeIn:nth-child(2) {
  animation-delay: 0.2s;
}

.animate-fadeIn:nth-child(3) {
  animation-delay: 0.4s;
}